# Lists

27th Aug 2023

In [19]:
#List is a collections of heterogenious of data types

student = ['1',1,"harsh",print,print("hello")]

#list can even store the name of the funtions such as print.

hello

In [10]:
print(type(student))

<class 'list'>

In [11]:
student[0]

'1'

In [13]:
student[3]

In [18]:
print(student[3])

None

In [16]:
print(student[-1])

#negative indexes mean the position of subsequent element from the right side or last element

<built-in function print>

In [23]:
student[-2]("hello")

hello

In [26]:
student[4]

In [27]:
for i in student:
    print(i,end=' ')

1 1 harsh <built-in function print> None

In [28]:
student

['1',
 1,
 'harsh',
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 None]

In [29]:
student.append('Hello')

In [30]:
test_list = [1, 4, 5, 6, 7, 3, 5, 9, 2, 4]


split_list = [2, 5, 7]

print ("The original list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 7, 3, 5, 9, 2, 4]

In [31]:
def to_split(word, delimiter):
    temp= ''
    for i in word:
        if i == delimiter:
            sentence += temp
            sentence += ' '
            temp =''
            else:
                temp+

SyntaxError: invalid syntax (1911917929.py, line 8)

In [33]:
#My solution
def custom_split(input_string, delimiter):
    result = []
    current_chunk = ""
    
    for char in input_string:
        if char == delimiter:
            result.append(current_chunk)
            current_chunk = ""
        else:
            current_chunk += char
    
    result.append(current_chunk)  # Append the last chunk
    
    return result

input_string = "Hello,world,this,is,a,test"
delimiter = ","
split_result = custom_split(input_string, delimiter)
print(split_result)

['Hello', 'world', 'this', 'is', 'a', 'test']

In [34]:
def to_split(word, delimiter):
    temp = ''
    sentence = []
    for i in word:
        if i == delimiter:
            sentence.append(temp)
            temp = ''
        else:
            temp += i
    sentence.append(temp)
    print(sentence)

word = "Hello,world,this,is,a,test"
delimiter = ","
to_split(word, delimiter)

In [35]:
to_split("hello i am in the water here too much raining", _)

hello i am in the water here too much raining

In [101]:
to_split(student,'_')

TypeError: can only concatenate str (not "list") to str

In [38]:
List1=["hello","hi","this"]
List1.insert(0,"people")

In [39]:
List1

['people', 'hello', 'hi', 'this']

In [40]:
List1.pop(0)

'people'

In [42]:
#Push does not exists in python as there was already append before push, so avoiding the redundancy pop is added

In [44]:
student.pop?

In [47]:
def to_pop(student,index):
    var = student[index]
    student.append(student[:index])
    student.append(student[(index+1): -1])
    print(student)
    
    student = student[-2] + student[-1]
    print(student)
    return var

In [48]:
to_pop(student,-1)

['1', 1, 'harsh', <built-in function print>, None, 'Hello', ['1', 1, 'harsh', <built-in function print>, None], ['1', 1, 'harsh', <built-in function print>, None, 'Hello']]
['1', 1, 'harsh', <built-in function print>, None, '1', 1, 'harsh', <built-in function print>, None, 'Hello']

'Hello'

In [49]:
student

['1',
 1,
 'harsh',
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 None,
 'Hello',
 ['1',
  1,
  'harsh',
  <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
  None],
 ['1',
  1,
  'harsh',
  <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
  None,
  'Hello']]

In [50]:
student.reverse()

In [51]:
student

[['1',
  1,
  'harsh',
  <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
  None,
  'Hello'],
 ['1',
  1,
  'harsh',
  <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
  None],
 'Hello',
 None,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'harsh',
 1,
 '1']

In [135]:
my_list = [1, 2, 3, 4, 5]
my_list = my_list[::-1]
print(my_list)

[5, 4, 3, 2, 1]

In [53]:
def reverse_list(input_list):
    length = len(input_list)
    reversed_list = []

    for i in range(length - 1, -1, -1):
        reversed_list.append(input_list[i])

    return reversed_list

# Example usage
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]

In [54]:
def reverse_list_in_place(input_list):
    length = len(input_list)
    for i in range(length // 2):
        input_list[i], input_list[length - 1 - i] = input_list[length - 1 - i], input_list[i]

my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

In [55]:
#tupples

In [56]:
tup = (1,2,3,'4',5)

In [57]:
for i in tup:
    print(i)

1
2
3
4
5

In [59]:
print(list(tup))

[1, 2, 3, '4', 5]

In [77]:
tup = list(tup)
tup.append("Hello")
tup = tuple(tup)
print(tup)

(1, 2, 3, '4', 5, 'Hello', 'Hello')

# Dictionary

In [98]:
dictionary = {
    '1': 'The first number of whole numbers',
    2: 'The number 2',
    3: True,
    4: print,
    'd': {
        1: 'One',
        2: 'Two',
        3: 'Three'
    }
}

In [79]:
dictionary

{'1': 'The first number of whole numbers ',
 2: 'The number 2',
 3: True,
 4: <function print(*args, sep=' ', end='\n', file=None, flush=False)>}

In [80]:
dictionary[4]('Hello')

Hello

In [83]:
dictionary

{'1': 'The first number of whole numbers ',
 2: 'The number 2',
 3: True,
 4: <function print(*args, sep=' ', end='\n', file=None, flush=False)>}

In [82]:
dictionary.values()

dict_values(['The first number of whole numbers ', 'The number 2', True, <built-in function print>])

In [84]:
#write a code to print dictinary in key value pairs

In [86]:
dictionary.items()

dict_items([('1', 'The first number of whole numbers '), (2, 'The number 2'), (3, True), (4, <built-in function print>)])

In [99]:
dictionary.d.values()

AttributeError: 'dict' object has no attribute 'd'

In [88]:
from pprint import pprint

In [100]:
pprint(dict(dictionary))

{2: 'The number 2',
 3: True,
 4: <built-in function print>,
 '1': 'The first number of whole numbers',
 'd': {1: 'One', 2: 'Two', 3: 'Three'}}

In [95]:

if type(dictionary) == dict:
    print(dictionary)

{'1': 'The first number of whole numbers ', 2: 'The number 2', 3: True, 4: <built-in function print>}

In [108]:
for i in dictionary.items():
    print(i)
    if type(i[1]) == dict:
        for i in i[1]:
            values.append(i[1][j])
        continue
    else:
        values.append(i[1])

('1', 'The first number of whole numbers')
(2, 'The number 2')
(3, True)
(4, <built-in function print>)
('nested_dict', {1: 'One', 2: 'Two', 3: 'Three'})

TypeError: 'int' object is not subscriptable

In [107]:
values = []
dictionary = {
    '1': 'The first number of whole numbers',
    2: 'The number 2',
    3: True,
    4: print,
    'nested_dict': {
        1: 'One',
        2: 'Two',
        3: 'Three'
    }
}

for key, value in dictionary.items():
    print(key, value)
    if isinstance(value, dict):
        for nested_key, nested_value in value.items():
            values.append(nested_value)
    else:
        values.append(value)

print(values)

1 The first number of whole numbers
2 The number 2
3 True
4 <built-in function print>
nested_dict {1: 'One', 2: 'Two', 3: 'Three'}
['The first number of whole numbers', 'The number 2', True, <built-in function print>, 'One', 'Two', 'Three']

# Sets

In [109]:
a = {1,2,3,4,5,6,7,8}

In [110]:
b={9,8,7,6,5,4,3}

In [111]:
print(set(a).union(set(b)))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [112]:
print(set(a).intersection(set(b)))

{3, 4, 5, 6, 7, 8}

# Args and Kwargs

In [129]:
def adder(a, b, *args):
    a=a+b
    print(args)
    for i in args:
        a+=i
        
    print(a)

In [130]:
adder(1, 2, 3, 4, 5, 6)

(3, 4, 5, 6)
21

In [115]:
#The case where we don't know the number positional arguments we need to specify that whether we need further arguments or not and it is defined by *args

In [133]:
def adder(a, b, *args,**kwargs):
    a=a+b
    print(args)
    print(kwargs)
    for i in args:
        a+=i
        
    print(a)

In [134]:
adder(1,2,3,4,5,6,7,8,name='adder function',functionality = 'add')

(3, 4, 5, 6, 7, 8)
{'name': 'adder function', 'functionality': 'add'}
36

3rd sept 2023

# Classes & Objects

In [1]:
#self depicts the argument passed

In [2]:
class Students:
    course_name = 'Data Science'
    mentee = 'Harshvir'
    
    def hello(self):
        print('Hello this is harsh')
        
    def hi(self):
        print('I have some fruits')

In [3]:
bin(123)

'0b1111011'

In [18]:
class Person:
    name = 'HARSHVIR'
    age = '23'
    
    
    def reveal(self):
        print(f'Name is:{self.name} and age is {self.age}')
        
    def modify(self):
        self.name = input('enter name')
        print(f'Name is : {self.name} and age is {self.age}')

In [19]:
p = Person()

In [20]:
p.reveal()

Name is:HARSHVIR and age is 23

In [21]:
p1 = Person()

In [22]:
p.name

'HARSHVIR'

In [23]:
p1.name

'HARSHVIR'

In [24]:
p1.modify()

enter namejohny
Name is : johny and age is 23

In [25]:
p1.name

'johny'

In [26]:
p1.name = 'harsh'

In [27]:
print(p1.name)

harsh

# Dunder functions (Constructors)/Magic functions

In [33]:
class Person:
    
    living = True
    
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print('Init Chala gya')
        
        
    def reveal(self):
        print(f'Name is: {self.name} and age is {self.age}')
        
    def update(self, name):
        self.name = name
        print(f'Name is: {self.name} and age is {self.age}')

In [34]:
p1 = Person('Harshvir',24)

Init Chala gya

In [35]:
p1.reveal()

Name is: Harshvir and age is 24

In [37]:
p2 = Person("Mohit",22)

Init Chala gya

In [38]:
p2.name,p1.name

('Mohit', 'Harshvir')

In [39]:
p2.living

True

In [40]:
p1.living

True

In [41]:
id(p1.living), id(p2.living)

(140713585814048, 140713585814048)

In [42]:
#attributes are of 2 types
#1> class attribute
#2> object attribute

In [43]:
id(p1.name), id(p2.name)

(2713919484208, 2713919554992)

In [44]:
print(p2.living)

True

In [47]:
p1.living = False

In [48]:
print(p1.living)

False

In [49]:
a=10
b=10

In [50]:
id(a)==id(b)

True

# Access Modifiers

In [93]:
class Abhijeet:
    
    def __init__(self,email,password,name):
        self._email = email
        self.__password= password
        self.name = name
        
    def change_mail(self,mail):
        self._email = mail    
        
    def change_pass(self,new_password):
        self.__password = new_password
        
    def __see_password(self,authen):
        if authen == self.authen:
            print(self.password)
            
    def __change_authen(self,new_authen):
        self.authen = new.authen

In [94]:
a=Abhijeet('abc@gmail.com',1234,'Harshvir')

In [95]:
a._email

'abc@gmail.com'

In [96]:
a.name

'Harshvir'

In [97]:
a._email = 'hello@gmail.com'

In [98]:
a._email

'hello@gmail.com'

In [99]:
a.change_mail('123@gmail.com')

In [100]:
a._email

'123@gmail.com'

AttributeError: 'Abhijeet' object has no attribute '__see_password'

In [107]:
class Dog:
    
    def __init_(self,name, breed):
        self.name = name
        self.breed = breed
        
    def trick(self):
        print('fetch')
        print('attack')
        print('wiggle')
        print('run')

In [109]:
f1 = Dog('Hurata','German shephard')

TypeError: Dog() takes no arguments

In [115]:
class Dog:
    
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed
        
    def trick(self):
        print('1.fetch')
        print('2.attack')
        print('3.wiggle')
        print('4.run')

In [116]:
f1 = Dog('Hurata', 'German shepherd')

In [117]:
f1.trick()

1.fetch
2.attack
3.wiggle
4.run

In [118]:
f1.name

'Hurata'

In [114]:
f1.breed

'German shepherd'

In [119]:
class Dogs:
    total_tricks = []
    
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed
    
    def update_tricks(self,trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [121]:
a = Dogs('shishimanu','labra')
b = Dogs('kalu','german shephard')

In [125]:
a.update_tricks('sing')
a.update_tricks('fetch')
a.update_tricks('dance')

In [126]:
b.display()

['sing', 'sing', 'sing', 'sing', 'sing', 'fetch', 'dance']

In [143]:
class Dogs:
    #total_tricks = []
    
    def __init__(self,name,breed):
        self.name = name
        self.breed = breed
        self.total_tricks = []
    
    def update_tricks(self,trick):
        self.total_tricks.append(trick)
        
    def display(self):
        print(self.total_tricks)

In [144]:
a = Dogs('Oreo','labra')
b = Dogs('Tuffy','german_shephard')

In [145]:
a.update_tricks('sing')
a.update_tricks('dance')
a.update_tricks('hand shake')

In [146]:
b.update_tricks('sit')

In [147]:
b.display()

['sit']

In [1]:
a.display()

NameError: name 'a' is not defined